html, body
{
    height: 100%;
}

body
{
    padding: 0px;
    margin: 0px;
}

@font-face
{
    font-family: system;
    font-style: normal;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

#frame
{
    background-color: #141311;
    opacity: 0.95;
    height: 100%;
}

.frame-round
{
    border-radius: 10px;
}

.titlebar-round
{
    border-radius: 10px 10px 0px 0px;
}

#titlebar
{
    -webkit-app-region: drag;
    height: 32px;
    padding: 0px;
    margin: 0px;
    background-color: #0c0c0c;
}

#titlebar-title
{
    -webkit-user-select: none;
    width: -webkit-max-content;
    margin-right: auto;
    margin-left: auto;
    color: rgba(200, 200, 200, 1);
    line-height: 32px;
    font-family: "system";
    font-size: 12px;
}

#titlebar-controls
{
    -webkit-app-region: no-drag;
    position: fixed;
}

#titlebar-controls:after
{
    display: table;
    clear: both;
}

div#titlebar-controls.align-right
{
    top: 0px;
    right: 6px;
}

div#titlebar-controls.align-left
{
    top: 0px;
    left: 6px;
}

#titlebar-minimize,
#titlebar-maximize,
#titlebar-close
{
    float: left;
    width: 40px;
    height: 32px;
    margin: 0px;
    text-align: center;
    line-height: 32px;

    -webkit-transition: background-color .2s;
}

#titlebar-minimize svg,
#titlebar-maximize svg,
#titlebar-close svg
{
    width: 10px;
    height: 10px;
    shape-rendering: crispEdges;
}

#titlebar-close svg polygon
{
    -webkit-transition: fill .2s;
}

#titlebar-minimize:hover,
#titlebar-maximize:hover,
#titlebar-close:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}

#titlebar-minimize svg rect,
#titlebar-maximize svg path,
#titlebar-close svg polygon
{
    fill: rgba(120, 120, 120, 1);
}

#titlebar-minimize:hover svg rect,
#titlebar-maximize:hover svg path,
#titlebar-close:hover svg polygon
{
    fill: rgba(255, 255, 255, 1);
}
